@model MyPet.Web.ViewModels.About.SiteAboutViewModel
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="~/css/counter.css" rel="stylesheet" />
<script src="~/js/counter.js"></script>

<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<div class="jumbotron d-flex align-items-center bg-white">
    <div class="container pt-">
        <div class="row">
            <br />



        </div>
        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <i class="fa fa-user fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="@Model.UsersCount" data-speed="5000"></h2>
                    <p class="count-text ">Our Customer</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-paw fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="@Model.PetsCount" data-speed="4000"></h2>
                    <p class="count-text ">Pets</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-camera-retro fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="@Model.ImagesCount" data-speed="3000"></h2>
                    <p class="count-text ">Photos</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-book fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="@Model.BreedsCount" data-speed="2500"></h2>
                    <p class="count-text ">Breeds</p>
                </div>
            </div>
        </div>
        <div><hr /></div>
        
        

        <blockquote class="container">
            <p class="mb-0">"Pets are humanizing. They remind us we have an obligation and responsibility to preserve and nurture and care for all life."</p>
            <footer class="blockquote-footer">
                James Cromwell
                <cite title="Source Title">American Actor</cite>
            </footer>
        </blockquote>
    </div>
    </div>

